spring:
  application:
    name: soundcloud-clone
  
  datasource:
    url: jdbc:postgresql://localhost:5432/soundcloud
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
  
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

jwt:
  secret: mySecretKeyForJWTTokenGenerationThatIsAtLeast256BitsLong
  expiration: 86400000

file:
  upload-dir: uploads
